.cardsSection {
  max-width: 1500px;
  margin: auto;
  background-color: #f6f7fa;
  z-index: -1;
  padding: 3rem 1rem;

  &__title {
    text-align: center;
    color: #333333;
    font-size: 1.6rem;
    padding: 0rem 0rem 2rem;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
}
