@import "../Sass/mixin";

.homeTwo {
  max-width: 1500px;
  margin: auto;

  &__topContent {
    position: relative;
    z-index: -1;
  }

  &__image {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    padding: 2rem 0;
    @include ipad {
      height: 85vh;
    }
    @include iphone {
      height: 75vh;
    }
  }

  &__text--title {
    color: #333333;
    background-color: rgba(255, 255, 255, 0.842);
    position: absolute;
    left: 0;
    right: 0;
    top: 26%;
    margin: auto;
    width: 37%;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.5;
    padding: 2rem 0.5rem 1rem;
    @include ipad {
      top: 30%;
      width: 53%;
    }
    @include iphone {
      width: 90%;
      font-size: 2.3rem;
    }
  }

  &__bottomContent {
    width: 100%;
    margin-top: -5.5rem;
    z-index: 1;
    background-color: white;
    box-shadow: 0px -16px 28px -15px #e7e7e7;
    @include ipad {
      margin-top: -2.5rem;
    }
  }

  &__text--container2 {
    width: 49%;
    margin: auto;
    padding: 4.2rem 0;
    @include ipad {
      width: 60%;
    }
    @include iphone {
      width: 80%;
    }
  }

  &__text--title2 {
    text-align: center;
    color: #666666;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
  }

  &__text--title2 span {
    font-weight: 600;
  }

  &__icon--container {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem 4rem;
    @include iphone {
      width: 100%;
    }
  }

  &__icons__Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include iphone {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;

  &__image {
    width: 5rem;
  }

  &__text {
    width: 95%;
    text-align: center;
    margin-top: 1rem;
    color: #333333;
  }

  &__three {
    margin-top: 2rem;
  }

  &__three,
  &__four {
    @include iphone {
      margin-left: 2.6rem;
    }
  }

  &__textTwo {
    margin-top: 0.2rem;
  }
}
