@import "../Sass/mixin";

.homeTwo {
  max-width: 1500px;
  margin: auto;

  &__topContent {
    position: relative;
    z-index: -1;
  }

  &__image {
    width: 100%;
    @include iphone {
      padding: 2rem 0;
      width: 250%;
    }
  }

  &__text--title {
    color: #333333;
    background-color: rgba(255, 255, 255, 0.842);
    position: absolute;
    left: 0;
    right: 0;
    top: 26%;
    margin: auto;
    width: 37%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 2rem 0.5rem 1rem;
    @include ipad {
      top: 24%;
      width: 45%;
    }
    @include iphone {
      top: 30%;
      width: 100%;
      font-size: 2.3rem;
    }
  }

  &__bottomContent {
    width: 100%;
    margin-top: -5.5rem;
    z-index: 1;
    background-color: white;
    box-shadow: 0px -16px 28px -15px #e7e7e7;
    @include ipad {
      margin-top: -2rem;
    }
  }

  &__text--container2 {
    width: 49%;
    margin: auto;
    padding: 4.2rem 0;
    @include ipad {
      width: 60%;
    }
    @include iphone {
      width: 80%;
    }
  }

  &__text--title2 {
    text-align: center;
    color: #666666;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
  }

  &__text--title2 span {
    font-weight: 600;
  }

  &__icon--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0.5rem 4rem;
  }

  &__icons__imageContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__icon__textContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }

  &__icon__title {
    width: 100%;
  }
}

.icon__image {
  width: 4.2rem;
}
.icon__text {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 1rem;
  color: #333333;
}
