.nav {
  min-width: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 30px #e7e7e7;
  position: fixed;
  z-index: 1;
}

.nav__logo {
  width: 9rem;
  padding: 0.7rem 0;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list a {
  text-decoration: none;
}

.nav__items {
  font-size: 0.8rem;
  font-weight: 800;
  color: #4b4b4b;
  margin-right: 1.8rem;
  padding-top: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav__items:hover {
  color: #e46a79;
}

.active__class {
  color: #6bd5e1;
}

.active__class:hover {
  color: #6bd5e1;
}

.nav__icons {
  list-style: none;
  display: flex;
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: 1.2rem;
  padding-top: 0.2rem;
}

.nav__icon a {
  text-decoration: none;
  color: #6bd5e1;
  transition: all 0.2s ease;
}

.nav__icon a:hover {
  color: #ffd98e;
}
