.signUp {
  max-width: 1500px;
  margin: auto;
  background-color: #ffff;
  padding: 5rem 0;

  &__content {
    width: 52%;
    margin: auto;
    text-align: center;
  }

  &__title {
    padding: 2rem 0;
    font-size: 1.3rem;
    color: #666666;
  }

  &__form input {
    width: 55%;
    padding: 0.8rem 0.6rem;
    border: none;
    box-shadow: 0 0 0 2px #e6e6e6;
    border-radius: 0.4rem;
    font-family: "Poppins", sans-serif;
    transition: all 0.1s ease-in-out;
  }

  &__form input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px #3898ec;
  }

  &__form input::placeholder {
    color: #9c9999;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
  }

  &__form--button {
    color: white;
    background-color: #6bd5e1;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    margin-left: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  &__form--button:hover {
    background-color: #ffd98e;
  }
}
