.webpage {
  max-width: 1500px;
  margin: auto;
  background-color: white;
  z-index: -1;
  padding: 3.5rem 1rem 5rem;
}

.webpage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webpage__textContent {
  width: 80%;
  margin: auto;
  text-align: center;
}

.webpage__title {
  color: #333333;
  padding: 1.2rem 0;
  font-size: 1.6rem;
}

.webpage__desc {
  color: #666666;
  font-size: 0.8rem;
  padding: 0.5rem 0 2rem;
}

.webpage__imageContent {
  width: 90%;
  margin: auto;
}

.webpage__image {
  width: 100%;
  padding-top: 0.5rem;
}

.webpage__links {
  width: 80%;
  margin: auto;
  text-align: center;
}

.webpage__linkTitle {
  color: #666666;
  font-size: 0.8rem;
  padding: 0 0 0.7rem;
}

.webpage__link {
  font-size: 0.8rem;
  margin-left: 0.3rem;
  font-weight: 700;
}
